# Stack des Haupt-Tasks: 16 KB (Standard ist ~3,5 KB)
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384

# Optional: Watchdog-Timeout erhöhen für WiFi-Connect
CONFIG_ESP_TASK_WDT_TIMEOUT_S=30
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

#CONFIG_PARTITION_TABLE_CUSTOM=y
#CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
#CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
#CONFIG_PARTITION_TABLE_OFFSET=0x8000

# Rust needs more stack than C
#CONFIG_ESP_MAIN_TASK_STACK_SIZE=8000

# Target
CONFIG_IDF_TARGET="esp32s3"

# CPU speed
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

# Flash
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# PSRAM (8MB PSRAM on this board)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y
CONFIG_IDF_EXPERIMENTAL_FEATURES=y

# FreeRTOS 1ms tick
CONFIG_FREERTOS_HZ=1000

# Cache
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
CONFIG_ESP32S3_DATA_CACHE_LINE_SIZE=64

# USB Serial/JTAG console (this board uses USB-C directly)
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
